<section class="gallery">
    <h2 class="gallery-title">Galeria</h2>
    <div class="gallery-carousel">
        <a href="/assets/images/partials/gallery/akka-gallery-1.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-1.jpg" alt="Zdjęcie galerii numer 1">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-2.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-2.jpg" alt="Zdjęcie galerii numer 2">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-3.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-3.jpg" alt="Zdjęcie galerii numer 3">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-4.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-4.jpg" alt="Zdjęcie galerii numer 4">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-5.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-5.jpg" alt="Zdjęcie galerii numer 5">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-6.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-6.jpg" alt="Zdjęcie galerii numer 6">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-7.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-7.jpg" alt="Zdjęcie galerii numer 7">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-8.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-8.jpg" alt="Zdjęcie galerii numer 8">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-9.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-9.jpg" alt="Zdjęcie galerii numer 9">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-10.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-10.jpg" alt="Zdjęcie galerii numer 10">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-11.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-11.jpg" alt="Zdjęcie galerii numer 11">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-12.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-12.jpg" alt="Zdjęcie galerii numer 12">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-13.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-13.jpg" alt="Zdjęcie galerii numer 13">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-14.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-14.jpg" alt="Zdjęcie galerii numer 14">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-15.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-15.jpg" alt="Zdjęcie galerii numer 15">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-16.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-16.jpg" alt="Zdjęcie galerii numer 16">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-17.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-17.jpg" alt="Zdjęcie galerii numer 17">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-18.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-18.jpg" alt="Zdjęcie galerii numer 18">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-19.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-19.jpg" alt="Zdjęcie galerii numer 19">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-20.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-20.jpg" alt="Zdjęcie galerii numer 20">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-21.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-21.jpg" alt="Zdjęcie galerii numer 21">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-22.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-22.jpg" alt="Zdjęcie galerii numer 22">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-23.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-23.jpg" alt="Zdjęcie galerii numer 23">
        </a>
        <a href="/assets/images/partials/gallery/akka-gallery-24.jpg" data-lightbox="akka-gallery">
            <img src="/assets/images/partials/gallery/akka-gallery-24.jpg" alt="Zdjęcie galerii numer 24">
        </a>
    </div>
</section>