<section class="gallery">
    <h2 class="gallery-title">Galeria</h2>
    <div class="gallery-carousel">
        <a href="https://via.placeholder.com/1920x1080" data-lightbox="akka-gallery">
            <img src="https://via.placeholder.com/1920x1080" alt="">
        </a>
        <a href="https://via.placeholder.com/1920x1080" data-lightbox="akka-gallery">
            <img src="https://via.placeholder.com/1920x1080" alt="">
        </a>
        <a href="https://via.placeholder.com/1920x1080" data-lightbox="akka-gallery">
            <img src="https://via.placeholder.com/1920x1080" alt="">
        </a>
        <a href="https://via.placeholder.com/1920x1080" data-lightbox="akka-gallery">
            <img src="https://via.placeholder.com/1920x1080" alt="">
        </a>
        <a href="https://via.placeholder.com/1920x1080" data-lightbox="akka-gallery">
            <img src="https://via.placeholder.com/1920x1080" alt="">
        </a>
        <a href="https://via.placeholder.com/1920x1080" data-lightbox="akka-gallery">
            <img src="https://via.placeholder.com/1920x1080" alt="">
        </a>
        <a href="https://via.placeholder.com/1920x1080" data-lightbox="akka-gallery">
            <img src="https://via.placeholder.com/1920x1080" alt="">
        </a>
        <a href="https://via.placeholder.com/1920x1080" data-lightbox="akka-gallery">
            <img src="https://via.placeholder.com/1920x1080" alt="">
        </a>
    </div>
</section>