<section class="informant">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-4 informant-col">
                <a href="/informator/abc-kajakarza/" class="informant-link">
                    <img src="/assets/images/partials/informant/informant-first-steps.jpeg" alt="Mezyczyzna w kajaku" class="img-fluid informant-image">
                    <h2 class="informant-title">ABC kajakarza</h2>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 informant-col">
                <a href="/informator/co-zabrac-na-splyw/" class="informant-link">
                    <img src="/assets/images/partials/informant/informant-preparation.jpeg" alt="Kajki" class="img-fluid informant-image">
                    <h2 class="informant-title">Co zabrać<br>na spływ</h2>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 informant-col">
                <a href="/informator/poradnik-kajakarza/" class="informant-link">
                    <img src="/assets/images/partials/informant/informant-guide.jpeg" alt="Uczestnicy spływu kajakowego" class="img-fluid informant-image">
                    <h2 class="informant-title">Poradnik kajakarza</h2>
                </a>
            </div>
        </div>
    </div>
</section>