<section class="district">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-6 district-column district-column-image">
                <img src="/assets/images/partials/district/district.jpg" alt="Warecki rynek" class="img-fluid district-image">
            </div>
            <div class="col-sm-12 col-lg-6 district-column">
                <h2 class="district-title">Warka i okolica</h2>
                <p class="district-text">
                        Warka to najstarsze na Mazowszu, malownicze miasteczko w dolinie Pilicy. Dogodne położenie nad rzeką, na szlakach handlowo-komunikacyjnych i urodzajne gleby już w XV wieku ułatwiały rozwój gospodarczy Warki.
                </p>
                <a href="/warka-i-okolica/" class="btn district-btn">Dowiedz się więcej</a>
            </div>
        </div>
    </div>
</section>