<section class="canoeing">
    <div class="container">
        {{#if showTitle}}
        <div class="row">
            <div class="col-12">
                <h2 class="canoeing-title">Trasy kajakowe</h2>
            </div>
        </div>
        {{/if}}
        <div class="row canoeing-routes">
            <div class="col-sm-12 col-md-4 canoeing-routes-single">
                <div class="canoeing-routes-content">
                    <img src="/assets/images/partials/canoeing/canoeing-radomka.jpg" alt="Panorama rzeki Radomki"
                        class="img-fluid canoeing-routes-image">
                    <h3 class="canoeing-routes-title">Spływy Radomką</h3>
                    <p class="canoeing-routes-desc">Atrakcyjna trasa kajakowa dla bardziej wymagających.</p>
                    <a href="/trasy/radomka/" class="btn canoeing-routes-btn">Sprawdź</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 canoeing-routes-single">
                <div class="canoeing-routes-content">
                    <img src="/assets/images/partials/canoeing/canoeing-pilica.jpg" alt="Panorama rzeki Pilicy"
                        class="img-fluid canoeing-routes-image">
                    <h3 class="canoeing-routes-title">Spływy Pilicą</h3>
                    <p class="canoeing-routes-desc">Malownicza trasa rzeki Pilicy zachwyci niejednego kajakarza.</p>
                    <a href="/trasy/pilica/" class="btn canoeing-routes-btn">Sprawdź</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 canoeing-routes-single">
                <div class="canoeing-routes-content">
                    <img src="/assets/images/partials/canoeing/canoeing-wisla.jpg" alt="Panorama rzeki Wisły"
                        class="img-fluid canoeing-routes-image">
                    <h3 class="canoeing-routes-title">Spływy Wisłą</h3>
                    <p class="canoeing-routes-desc">Przemyślana trasa na jednej z największych rzek w Polsce.</p>
                    <a href="/trasy/wisla/" class="btn canoeing-routes-btn">Sprawdź</a>
                </div>
            </div>
        </div>
    </div>
</section>