<section class="about" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 about-column about-column-image">
                <img src="assets/images/partials/about/kayaking.jpeg" alt="Dwóch męzczyzn w kajku - zdjęcie baneru"
                    class="img-fluid about-image">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 about-column">
                <div class="about-content">
                    <h2 class="about-title">
                        O nas
                    </h2>
                    <p class="about-text">
                        Nie ma nic przyjemniejszego niż aktywne spędzanie wolnego czasu na łonie natury, w gronie
                        rodziny czy przyjaciół. Taką możliwość dają spływy kajakowe rzekami Mazowsza.
                    </p>
                    <p class="about-text">
                        Tuż pod Warszawą – bo w odległości jedynie 60km – meandrujące koryta rzek, liczne wysepki,
                        wspaniałe plaże oraz malownicze leśne tereny bezwzględnie zachęcają do wypoczynku. Różnorodny
                        stopień trudności szlaków wodnych sprzyja organizacji spływów kajakowych, dostosowanych do
                        indywidualnych preferencji i możliwości.

                    </p>
                    <a href="/o-nas/" class="btn district-btn">Dowiedz się więcej</a>
                </div>
            </div>
        </div>
    </div>
</section>