<section class="baner">
    <div class="baner-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="baner-title">
                        Wypożyczalnia kajaków AKKA
                    </h1>
                    <p class="baner-text">
                        Aktywne spędzanie wolnego czasu na łonie natury, w gronie rodziny i przyjaciół.<br>
                        Spływy kajakowe w Warce!
                    </p>
                    <div class="baner-button-row">
                        <a href="#about" class="btn baner-button">
                            O nas
                        </a>
                        <a href="#contact" class="btn baner-button baner-button-secondary">
                            Kontakt
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>