<section class="baner baner--single-page" style="background: url({{backgroundImage}})">
        <div class="baner-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="baner-title">
                            {{ title }}
                        </h1>
                        <p class="baner-text">
                            {{ announcement }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>