<nav class="navbar navbar-expand-xl">
    <a class="navbar-brand" href="/">
        <img src="/assets/images/logo.png" alt="http://warkakajaki.pl/" class="img-fliud navbar-brand-image">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item navbar-nav-item">
                <i class="material-icons navbar-nav-item-icon">
                    group
                </i>
                <a class="nav-link navbar-nav-item-link" href="/o-nas/">O nas</a>
            </li>
            <li class="nav-item navbar-nav-item">
                <i class="material-icons navbar-nav-item-icon">
                    rowing
                </i>
                <a class="nav-link navbar-nav-item-link" href="/trasy/">Trasy kajakowe</a>
            </li>
            <li class="nav-item navbar-nav-item">
                <i class="material-icons navbar-nav-item-icon">
                    info
                </i>
                <a class="nav-link navbar-nav-item-link" href="/informator/">Informator</a>
            </li>
            <li class="nav-item navbar-nav-item">
                <i class="material-icons navbar-nav-item-icon">
                    business
                </i>
                <a class="nav-link navbar-nav-item-link" href="/warka-i-okolica/">Warka i okolica</a>
            </li>
            <li class="nav-item navbar-nav-item">
                <i class="material-icons navbar-nav-item-icon">
                    local_hotel
                </i>
                <a class="nav-link navbar-nav-item-link" href="/nocleg/">Nocleg</a>
            </li>
            <li class="nav-item navbar-nav-item">
                <i class="material-icons navbar-nav-item-icon">
                    phone
                </i>
                <a class="nav-link navbar-nav-item-link" href="/#contact">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>