<section class="contact" id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-5 offset-lg-1 contact-column">
                <h2 class="contact-title">Kontakt</h2>
                <div class="contact-info">
                    <p class="contact-text"><b>Wypożyczalnia kajaków i kemping AKKA Kajaki</b></p>
                    <p class="contact-text">
                        <a href="https://www.google.com/maps/dir//51.7805785,21.1864369/@51.780578,21.186437,17z?hl=en-US" class="contact-link">
                            Nowy Zjazd 7
                        </a>
                    </p>
                    <p class="contact-text">
                        <a href="https://www.google.com/maps/dir//51.7805785,21.1864369/@51.780578,21.186437,17z?hl=en-US" class="contact-link">
                            05-660 Warka, Polska
                        </a>
                    </p>
                    <p class="contact-text">
                        <a href="mailto:akka@warkakajaki.pl" class="contact-link">
                            akka@warkakajaki.pl
                        </a>
                    </p>
                    <p class="contact-text">
                        <a href="tel:888948949" class="contact-link">
                            888 948 949
                        </a>
                    </p>
                </div>
                <div class="contact-info">
                    <p class="contact-text"><b>AKKA Adrian Kiełbiński</b></p>
                    <p class="contact-text">Nowy Zjazd 7, 05-660 Warka</p>
                    <p class="contact-text">NIP: 797-157-52-73</p>
                </div>
                <div class="contact-info">
                    <p class="contact-text">Można dokonać wstępnej rezerwacji wysyłając maila z niezbędnymi danymi, na
                        adres: akka@warkakajaki.pl</p>
                    <p class="contact-text">Tytuł przelewu: „Zadatek, imię i nazwisko, termin rezerwacji”</p>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 contact-map">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2468.3996356965076!2d21.184248215444782!3d51.78058179851364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4718e7370b7f8ea7%3A0xa64cb0604636ff5e!2sNowy+Zjazd+7%2C+05-660+Warka!5e0!3m2!1spl!2spl!4v1462858632812"
                    width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>